{{ define "content" }}
<h2 class="mb-4">Buat Pengguna Baru</h2>

{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <form action="/users" method="POST">
            <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" name="name" placeholder="Masukan nama" required class="form-control" value="{{ .Name }}">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Masukan email" required class="form-control" value="{{ .Email }}">
            </div>

            <div class="form-group">
                <label for="occupation">Pekerjaan</label>
                <input type="text" name="occupation" placeholder="Masukan Pekerjaan" required class="form-control" value="{{ .Occupation }}">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Masukan password" required class="form-control">
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Kirim</button>
            </div>
        </form>
    </div>
</div>


{{ end }}